@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset minimal propre */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-black text-white antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
